In [ ]:
a = "hello"
b = "b2b2b2"
c = "3g3g       "

d=a+b+c
print(f'congate:{d}')

congate:hellob2b2b23g3g

In [ ]:
a = "hello"
b = "b2b2b2"
c = "3g3g       "

d=a+" "+b+" "+c
print(f'congate:{d}')
print(len(d))
print (f'slice:{d[:-3]}')
print(len(d),d[:-3],d[::-1])
print(d.upper())
print(d.lower())
print(d.title())
print(d.isdigit())
print(d.strip())
print(d.capitalize())
print(d.replace("hello","python"))
print(d.split())
if "a2" in d:
  print("RaduanAhamed")

congate:hello b2b2b2 3g3g
24
slice:hello b2b2b2 3g3g
24 hello b2b2b2 3g3g            g3g3 2b2b2b olleh
HELLO B2B2B2 3G3G
hello b2b2b2 3g3g
Hello B2B2B2 3G3G
False
hello b2b2b2 3g3g
Hello b2b2b2 3g3g
python b2b2b2 3g3g
['hello', 'b2b2b2', '3g3g']

NameError: name 'Print' is not defined

In [ ]:
a = "hello"
b = "b2b2b2"
c = "3g3g       "

d=a+b+c
print(d)
print(d.upper())
print(d.lower())
print(d.title())
print(d.strip())
print(d.capitalize())
print(d.replace("hello","python"))
print(d.split())
x=d.find("3g3g")
print(x)
print(d.count("b2"))
print(d.isalnum())

hellob2b2b23g3g
HELLOB2B2B23G3G
hellob2b2b23g3g
Hellob2B2B23G3G
hellob2b2b23g3g
Hellob2b2b23g3g
pythonb2b2b23g3g
['hellob2b2b23g3g']
11
3
False

In [ ]:
def cube(n):
  return n**3

x=map(cube,(1,3,4))
y=list(x)
print(y)

[1, 27, 64]

In [ ]:
def cube(a,b):
  return a**b
x=map(cube,(1,3,4),(2,4,6))
y=list(x)
print(y)

[1, 81, 4096]

In [ ]:
a=[1,3,6,8,2]
b=[]
for i in a:
  if i%2 == 0:
    b.append(i)
print(b)

[6, 8, 2]